@using MyQuizlet.Application.CQRSFeatures.Card.Queries.GetAllCards;
@model IEnumerable<GetAllCardsDto>;

@{
    ViewBag.Title = "Get cards";
}

<h1>All cards:</h1>

<a class="btn btn-primary" asp-controller="Cards" asp-action="CreateCard">Create new card</a>

<form asp-controller="Cards" asp-action="GetAllCards" method="get">
    <div class="input-group">
        <input class="form-control" name="searchString" value="@ViewBag.CurrentSearchString" placeholder="Search string" />
        <select class="custom-select" name="searchBy">
            @foreach (var value in ViewBag.SearchByProps)
            {
                <option value="@value.Value" selected="@(value.Value == ViewBag.CurrentSearchBy)">@value.Text</option>
            }
        </select>
        <div class="input-group-append">
            <button class="btn btn-primary">Search</button>
            <a class="btn btn-danger" asp-controller="Cards" asp-action="GetAllCards">Clear</a>
        </div>
    </div>
</form>

@{
    await Html.RenderPartialAsync("_CardsPartialView", Model);
}
