@using MyQuizlet.Application.CQRSFeatures.Deck.Commands.UpdateDeck;
@model UpdateDeckCommand;

@{
    ViewBag.Title = "Update deck";
}

<h1>Update deck</h1>

<form asp-controller="Decks" asp-action="UpdateDeck" method="post">
    <div class="row justify-content-center">
        <a class="btn btn-outline-primary"  asp-controller="Decks" asp-action="GetAllDecks">Back to Decks List</a>

        <input type="hidden" asp-for="Id" value="@ViewBag.Deck.Id" />

        <div>
            <label asp-for="DeckName" class="form-label">Deck Name:</label>
            <input asp-for="DeckName" value="@ViewBag.Deck.DeckName" class="form-control" placeholder="Enter" />
        </div>

        <div>
            <label asp-for="Description">Description:</label>
            <input asp-for="Description" value="@ViewBag.Deck.Description" class="form-control" placeholder="Enter" />
        </div>

        <h5>Are you sure to update this deck?</h5>
        <button class="btn btn-success">Update</button>
    </div>
</form>