<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">MyQuizlet</a>
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <a class="nav-item nav-link" asp-controller="Home" asp-action="GameManager">Play Game</a>
                        <a class="nav-item nav-link" asp-controller="Home" asp-action="CardsManager">Cards Manager</a>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        @if(User.Identity.IsAuthenticated){
                            <a class="nav-item nav-link" asp-controller="Profile" asp-action="Settings">@User.Identity?.Name (Settings)</a>
                            <a class="nav-item nav-link" asp-controller="Identity" asp-action="SignOut">Sign Out</a>
                        }
                        else
                        {
                            <a class="nav-item nav-link" asp-controller="Identity" asp-action="SignIn">Sign In</a>
                        }                        
                    </ul>
                </div>
            </nav>

            <div>
                @RenderBody()
            </div>

            <div>
                @RenderSection("footer_section", false)
            </div>
        </div>

        </body>
</html>
