@using MyQuizlet.Application.DTO;
@model SignInDto;

@{
    ViewBag.Title = "SignIn";
}

<h1>Sign In</h1>

<form asp-controller="Identity" asp-action="SignIn" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]" method="post">

    <div class="row w-75 justify-content-center mx-auto">
        <div class="card text-center">
            <div class="card-body">

                <div class="form-group">
                    <label asp-for="Email" class="form-label">Your Email:</label>
                    <input asp-for="Email" class="form-control" placeholder="name@example.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="form-label">Password:</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-check">
                    <label asp-for="@Model.RememberMe" class="form-check-label">
                        <input type="checkbox" asp-for="@Model.RememberMe" value="true" class="form-check-input" />
                        Remember?
                    </label>
                </div>
                
                <div asp-validation-summary="All" class="text-danger"></div>
                <button type="submit" class="btn btn-primary">SignIn!</button>

            </div>

            <div class="card-footer">
                <p>If you don`t have an account, please <a asp-action="SignUp">Sign Up</a></p>
            </div>
        </div>
    </div>

</form>