@{
    ViewBag.Title = "Cards Manager";
}

<h1>Choose action:</h1>

<div class="btn-group">
    <a class="btn btn-primary" asp-controller="Cards" asp-action="GetAllCards">Manage cards</a>
    <a class="btn btn-primary" asp-controller="Decks" asp-action="GetAllDecks">Manage decks</a>
</div>