@{
    ViewBag.Title = "Game Manager";
}

<h1>Game Manager:</h1>

<div class="btn-group">
    <a class="btn btn-primary" asp-controller="Game" asp-action="ChooseGameDetails">Select Deck to Play</a>
</div>